body{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-weight: bold;
  }
  
  .lista{
    font-size: 20px;
  }

.fundo{
    background-color: #D04848;
    border-radius: 0 0 40px 40px;
}

.caixa{
    background-color: #D04848;
    border-radius: 3em 1em;
    padding: 80px;
    margin-top: 25px;
}

.caixa2{
    background-color: #D04848;
    border-radius: 3em 1em;
    padding: 30px;
    margin-top: 25px;
}

.foto{
    background-color: white;
    border-radius: 3em 1em;
    padding: 10px;
}

.preto{
    background: black;
    border-radius: 3em 1em;
    padding: 80px;
    margin-top: 25px;
}

.preto2{
    background: black;
    border-radius: 3em 1em;
    padding: 40px;
    margin-top: 25px;
}

.iso{
    font-size: 20px;
}

footer{
    background-color: #D04848;
    border-radius: 40px 40px 0 0;
    margin-top: 20px;
}

.tel{
    list-style-type: none;
    padding-top: 45px;
}

.botão{
    font-size: 45px;
   
}

.bots{
    margin-inline: 30px;
}

.val{
    margin-block: 15px;
}

.cartão{
    background: black;
    border-radius: 3em 1em;
}

.player{
    background: #D04848;
    border-radius: 3em 1em;
}

.you{
    margin-top: -44px;
    margin-left: 10px;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	.bots{
        margin-inline: 15px;
    }

    .btn-custom{
        margin-top: 20px;
        padding-inline: 6px;
        padding-block: 12px;
        font-size: 18px; 
        margin-inline: auto;
        margin-left: 2px;
    }

    .principo{
        font-size: 43px;
    }

    .titulo{
        margin-bottom: 25px;
    }

    .bot-spo{
        margin-top: 25px;
    }

    .texto{
        text-align: center;
    }

   .difer{
         width: 30px;
   }

   .logo{
    width: 280px;
   }

   .botsi{
    font-size: 35px;
    
  
   }
   .pre{
    padding: 30px;
   }

   audio {
    width: 270px; 
    height: 80px;  
    margin-inline: auto;
    }

    .loft{
        font-size: 90px;
        margin-bottom: 20px;
    }

    .bra{
        font-size: 70px;
        margin-bottom: 15px;
    }

    .poio{
        padding-inline: 30px;
        
    }

 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
	
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
	
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
	.bra{
        font-size: 100px;
    }
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .bra{
        font-size: 100px;
    }
	.loft{
        font-size: 130px;
    }
 }